<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @ip_address.address %>
</p>

<p>
  <strong>Mac address:</strong>
  <%= @ip_address.mac_address %>
</p>

<%= link_to 'Edit', edit_ip_address_path(@ip_address) %> |
<%= link_to 'Back', ip_addresses_path %>
